@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
      @apply dark:bg-[#1D1A1A] bg-white
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #007272 ;
  }